@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #d9d4d4;
    background-color: #0d0e0f;
}

img {
    height: auto;
    width: 300px;
    max-width: 100%;
    border-radius: 50%;
}

img:hover {
    opacity: 73%;
    border-radius: 30%;
    transition: 0.5s;
}

img:not(:hover) {
    transition: 0.5s;
}

h1 {
    text-transform: uppercase;
    color: #126436;
}

h6:hover {
    color: #fff;
    transition: 0.5s;
}

h6:not(:hover) {
    transition: 0.5s;
}

a:hover {
    opacity: 50%;
    transition: 0.5s;
}

a:not(:hover) {
    transition: 0.5s;
}

.profile {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    width: 250px;
    max-width: 100%;
    padding: 0 10px;
    text-align: center;
}

.content {
    width: 750px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.typewriter {
    overflow: hidden;
    border-right: .15em solid #fff;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: 
      typing 3s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #fff; }
  }